{% extends 'base.html' %}

{% block header %}
  {% if not g.user %}
    <h1>WELCOME</h1>
  {% endif %}

  {% if g.user %}
    <h1 style="text-align:start;color:lightseagreen">Posts</h1>
    <a href="{{ url_for('blog.create') }}" class="btn btn-success" role="button">New</a>
  {% endif %}
{% endblock %}

<body>
{% block content %}

  {% if g.user %}

    {% for post in posts %}
      <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card card-margin">
                    <div class="card-header no-border">
                        <h5 class="card-title">{{post['username']}}</h5>
                    </div>
                    <div class="card-body pt-0">
                        <div class="widget-49">
                            <div class="widget-49-title-wrapper">
                                <div class="widget-49-date-primary">
                                    <span class="widget-49-date-day"> {{ post['created'].strftime('%Y-%m-%d') }}</span>                                   
                                </div>
                            </div>
                        
                            <span>{{ post['body'] }}</span>
                          
                            <div class="widget-49-meeting-action">
                              {% if g.user['id'] == post['author_id'] %}
                                <a href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
                              {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>


      {% if not loop.last %}
        <hr>
      {% endif %}

    {% endfor %}

  {% endif %}

  {% if not g.user %}
      <p> {{"LET'S SEE"}}</p>
        <div class="column">{{ "You need to be logged in to see what is happening." }}</div>
        <div class="column">{{"What is that"}}</div>
    

  {% endif %}

{% endblock %}
</body>